body {
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 253, 0.558);
}

#scores {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#limits {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.container {
  text-align: center;
}

.mainGame {
  padding-bottom: 10px;
}

#notif {
  z-index: 100;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  border: 2px solid;
  width: 50%;

  padding-bottom: 20px;

  margin-inline: auto;
  /*
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;*/
}

#upgrades {
  margin-inline: auto;
  padding-bottom: 20px;
}
